.scrollable-div {
    background-color: #000000;
    flex: 1; /* Grow to fill available space */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    text-align: justify;
    padding: 2em;
    z-index: 1 !important;
    position: relative;
}

.footer-container {
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 20vh !important;
    z-index: 2 !important; /* Adjust the height as needed */
  }
  
  .footer {
    background-color: #000000 !important;
    color: #ffffff !important;
    text-align: center !important;
    padding: 2em;
  }
.search
{
    color: rgb(84, 82, 82) !important;
    border: 2px solid rgb(84, 82, 82) !important;
    border-color: rgb(84, 82, 82) !important;
    border-radius: 10px !important;
    /* width: 40vw !important; */
    margin-bottom: 10em !important;
    padding: 10px;
    /* height: vh */

   
}

.dash-button
{
    background-color: black !important;
    color: white !important;
    
}
.dash-button:active
{
    border: none !important;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.file-input
{
    background-color: #ffffff !important;
    color:#000 !important;
    border-radius: 10px !important;
}
/* 
.user
{
    background-color:'pink' !important
} */


.line
{
    position: fixed;
    top: 50%;
    width:100vw !important;
    opacity: 0.35 !important;
    z-index: 0;

}