.dash-button
{
    background-color: black !important;
    margin-left: auto;
    
}
.dash-button:active
{
    border: none !important;
    margin-left: auto;
}


.button
{
    background-color: rgb(255, 255, 255) !important;
    
    color:black !important;
    margin-left: auto;
    
}
.dash-button:active
{
    border: none !important;
    margin-left: auto;
}

